* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.main-profile-div {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #f8f9fa;
    padding: 70px;
}

.profile-div {
    width: 800px;
    min-height: 600px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    padding: 0px 0px 15px 0px;
}

.update-back-div {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.sign-in-button {
    --color: #000;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 2.8em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    background-color: #fff;
    font-weight: bold;
}

.sign-in-button:before {
    --color: #703eff;
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 130px;
    width: 400px;
    border-radius: 50%;
}

.sign-in-button:hover {
    color: #fff;
}

.sign-in-button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.sign-in-button:hover:before {
    top: -30px;
    left: -30px;
}

.sign-in-button:active:before {
    background: #703eff;
    transition: background 0s;
}

.back-icon {
    text-decoration: none;
    font-size: 22px;
    color: #000;
}

.back-icon:hover {
    color: #703eff;
}

.profile-img-details-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img-div {
    height: 170px;
    width: 160px;
    border-radius: 20px;
    background-color: #703eff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
    position: relative;
}

.sub-profile-img-div {
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 21px;
}

.profile-img {
    width: 100%;
    height: 100%;
}

.update-image-input {
    display: none;
}

.update-image-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fafafa;
    position: absolute;
    right: -7px;
    bottom: -5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.camera-icon {
    font-size: 19px;
}

.details-div {
    width: 90%;
}

.inputs {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px;
    font-size: 24px;
}

.inputs:focus {
    outline: none;
    border: 2px solid #703eff;
}

.deatils-heading {
    margin-top: 5px;
    font-size: 24px;
}

.edit-icon {
    margin-left: 20px;
}

.user-icon {
    font-size: 90px;
}

.update-name-dis {
    border: none;
    outline: none;
}

.header {
    background-color: #703eff !important;
}

:root {
    --hue: 223;
    --bg: hsl(var(--hue), 90%, 90%);
    --fg: hsl(var(--hue), 90%, 10%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

.smiley {
    width: 6em;
    height: 6em;
}

.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
    animation: eye1 3s ease-in-out infinite;
}

.smiley__eye1,
.smiley__eye2 {
    transform-origin: 64px 64px;
}

.smiley__eye2 {
    animation-name: eye2;
}

.smiley__mouth1 {
    animation-name: mouth1;
}

.smiley__mouth2 {
    animation-name: mouth2;
    visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 90%, 10%);
        --fg: hsl(var(--hue), 90%, 90%);
    }
}

/* Animations */
@keyframes eye1 {
    from {
        transform: rotate(-260deg) translate(0, -56px);
    }

    50%,
    60% {
        animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
        transform: rotate(-40deg) translate(0, -56px) scale(1);
    }

    to {
        transform: rotate(225deg) translate(0, -56px) scale(0.35);
    }
}

@keyframes eye2 {
    from {
        transform: rotate(-260deg) translate(0, -56px);
    }

    50% {
        transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
    }

    52.5% {
        transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
    }

    55%,
    70% {
        animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
        transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
    }

    to {
        transform: rotate(150deg) translate(0, -56px) scale(0.4);
    }
}

@keyframes eyeBlink {

    from,
    25%,
    75%,
    to {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }
}

@keyframes mouth1 {
    from {
        animation-timing-function: ease-in;
        stroke-dasharray: 0 351.86;
        stroke-dashoffset: 0;
    }

    25% {
        animation-timing-function: ease-out;
        stroke-dasharray: 175.93 351.86;
        stroke-dashoffset: 0;
    }

    50% {
        animation-timing-function: steps(1, start);
        stroke-dasharray: 175.93 351.86;
        stroke-dashoffset: -175.93;
        visibility: visible;
    }

    75%,
    to {
        visibility: hidden;
    }
}

@keyframes mouth2 {
    from {
        animation-timing-function: steps(1, end);
        visibility: hidden;
    }

    50% {
        animation-timing-function: ease-in-out;
        visibility: visible;
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -351.86;
    }
}

.div{
    display: none;
}

.loader {
    width: 100%;
    height: 100vh;
    bottom: auto;
    display: none;
    justify-content: center;
    align-items: center;
}


